--
-- PostgreSQL database dump
--

\restrict yGOVGzm4qJWkB8IPFPpZ6zOVtxc8CzfT6UZOfaoQP54cCxB5IALepWZH1ipRoSf

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking (
    id integer NOT NULL,
    room_id integer,
    start_date date,
    end_date date,
    status character varying,
    check_in_date timestamp with time zone,
    check_out_date timestamp with time zone,
    total numeric(10,2),
    creation_date timestamp without time zone
);


ALTER TABLE public.booking OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.booking_id_seq OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.booking_id_seq OWNED BY public.booking.id;


--
-- Name: config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.config (
    config_key character varying(100) NOT NULL,
    config_value character varying(255)
);


ALTER TABLE public.config OWNER TO postgres;

--
-- Name: guest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guest (
    id integer NOT NULL,
    first_name character varying(100),
    second_name character varying(100),
    last_name character varying(255),
    id_card character varying(50),
    phone_number character varying(25),
    email character varying(255)
);


ALTER TABLE public.guest OWNER TO postgres;

--
-- Name: guest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guest_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guest_id_seq OWNER TO postgres;

--
-- Name: guest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guest_id_seq OWNED BY public.guest.id;


--
-- Name: late_check_out; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.late_check_out (
    id integer NOT NULL,
    booking_id integer,
    extra_hours integer,
    charge numeric(10,2)
);


ALTER TABLE public.late_check_out OWNER TO postgres;

--
-- Name: late_check_out_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.late_check_out_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.late_check_out_id_seq OWNER TO postgres;

--
-- Name: late_check_out_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.late_check_out_id_seq OWNED BY public.late_check_out.id;


--
-- Name: room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room (
    id integer NOT NULL,
    room_type_id integer,
    room_number character varying(10),
    occupied boolean
);


ALTER TABLE public.room OWNER TO postgres;

--
-- Name: room_guest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_guest (
    booking_id integer NOT NULL,
    guest_id integer NOT NULL
);


ALTER TABLE public.room_guest OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_id_seq OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_id_seq OWNED BY public.room.id;


--
-- Name: room_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_type (
    id integer NOT NULL,
    type_name character varying(255),
    price numeric(10,2),
    capacity integer
);


ALTER TABLE public.room_type OWNER TO postgres;

--
-- Name: room_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_type_id_seq OWNER TO postgres;

--
-- Name: room_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_type_id_seq OWNED BY public.room_type.id;


--
-- Name: service_contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service_contact (
    id integer NOT NULL,
    first_name character varying(100),
    second_name character varying(100),
    last_name character varying(255),
    job_role character varying(50),
    id_card character varying(50),
    phone_number character varying(25),
    email character varying(255),
    available boolean
);


ALTER TABLE public.service_contact OWNER TO postgres;

--
-- Name: service_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.service_contact_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.service_contact_id_seq OWNER TO postgres;

--
-- Name: service_contact_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.service_contact_id_seq OWNED BY public.service_contact.id;


--
-- Name: booking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking ALTER COLUMN id SET DEFAULT nextval('public.booking_id_seq'::regclass);


--
-- Name: guest id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest ALTER COLUMN id SET DEFAULT nextval('public.guest_id_seq'::regclass);


--
-- Name: late_check_out id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.late_check_out ALTER COLUMN id SET DEFAULT nextval('public.late_check_out_id_seq'::regclass);


--
-- Name: room id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room ALTER COLUMN id SET DEFAULT nextval('public.room_id_seq'::regclass);


--
-- Name: room_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type ALTER COLUMN id SET DEFAULT nextval('public.room_type_id_seq'::regclass);


--
-- Name: service_contact id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_contact ALTER COLUMN id SET DEFAULT nextval('public.service_contact_id_seq'::regclass);


--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: config; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.config (config_key, config_value) FROM stdin;
LateCheckOutHourlyRate	50.0
checkout_limit_hour	12
max_extra_hours	6
cancellation_policy_days	2
cancellation_fee_percentage	50
booking_advance_days	30
\.


--
-- Data for Name: guest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: late_check_out; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.late_check_out (id, booking_id, extra_hours, charge) FROM stdin;
1	1	2	120.00
2	3	3	180.00
3	4	1	60.00
4	11	8	4000.00
6	13	9	3600.00
7	14	4	1600.00
8	14	9	3600.00
9	15	9	3600.00
10	16	4	1600.00
11	16	5	2000.00
12	3	12	4800.00
\.


--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room (id, room_type_id, room_number, occupied) FROM stdin;
4	1	104	f
6	3	202	f
7	4	203	f
8	4	204	f
9	5	301	f
10	5	302	f
11	6	303	f
12	6	304	f
13	2	401	f
14	2	402	f
5	3	201	f
2	1	102	f
1	1	101	f
3	1	103	f
\.


--
-- Data for Name: room_guest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_guest (booking_id, guest_id) FROM stdin;
1	3
2	4
3	5
4	6
4	1
5	7
5	2
6	8
7	3
8	4
8	5
9	6
9	1
9	7
10	8
10	2
11	7
11	8
13	9
14	10
15	11
16	13
17	14
18	1
19	14
\.


--
-- Data for Name: room_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_type (id, type_name, price, capacity) FROM stdin;
1	Simple	120.00	1
2	Suite	170.00	1
3	Individual Bed Double	200.00	2
4	Matrimonial Double	180.00	2
5	Groupal for 4 people	240.00	4
6	Groupal for 3 people	210.00	3
\.


--
-- Data for Name: service_contact; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.service_contact (id, first_name, second_name, last_name, job_role, id_card, phone_number, email, available) FROM stdin;
1	Ana	Maria	Lopez	Housekeeping	9876543	71234567	ana.lopez@hotel.com	t
2	Pedro	Jose	Vargas	Maintenance	8765432	72345678	pedro.vargas@hotel.com	t
3	Lucia	Carmen	Rojas	Room Service	7654321	73456789	lucia.rojas@hotel.com	f
4	Miguel	Angel	Salinas	Security	6543210	74567890	miguel.salinas@hotel.com	t
\.


--
-- Name: booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booking_id_seq', 19, true);


--
-- Name: guest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guest_id_seq', 14, true);


--
-- Name: late_check_out_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.late_check_out_id_seq', 12, true);


--
-- Name: room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_id_seq', 14, true);


--
-- Name: room_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_type_id_seq', 6, true);


--
-- Name: service_contact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.service_contact_id_seq', 4, true);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (id);


--
-- Name: config config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config
    ADD CONSTRAINT config_pkey PRIMARY KEY (config_key);


--
-- Name: guest guest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest
    ADD CONSTRAINT guest_pkey PRIMARY KEY (id);


--
-- Name: late_check_out late_check_out_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.late_check_out
    ADD CONSTRAINT late_check_out_pkey PRIMARY KEY (id);


--
-- Name: room_guest room_guest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_guest
    ADD CONSTRAINT room_guest_pkey PRIMARY KEY (booking_id, guest_id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (id);


--
-- Name: room_type room_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type
    ADD CONSTRAINT room_type_pkey PRIMARY KEY (id);


--
-- Name: service_contact service_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_contact
    ADD CONSTRAINT service_contact_pkey PRIMARY KEY (id);


--
-- Name: booking booking_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.room(id);


--
-- Name: late_check_out late_check_out_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.late_check_out
    ADD CONSTRAINT late_check_out_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.booking(id);


--
-- Name: room_guest room_guest_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_guest
    ADD CONSTRAINT room_guest_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.booking(id);


--
-- Name: room_guest room_guest_guest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_guest
    ADD CONSTRAINT room_guest_guest_id_fkey FOREIGN KEY (guest_id) REFERENCES public.guest(id);


--
-- Name: room room_room_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_room_type_id_fkey FOREIGN KEY (room_type_id) REFERENCES public.room_type(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict yGOVGzm4qJWkB8IPFPpZ6zOVtxc8CzfT6UZOfaoQP54cCxB5IALepWZH1ipRoSf

