--
-- PostgreSQL database dump
--

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking (
    id integer NOT NULL,
    room_id integer,
    start_date date,
    end_date date,
    status character varying,
    check_in_date timestamp with time zone,
    check_out_date timestamp with time zone,
    total numeric(10,2),
    creation_date timestamp without time zone
);


ALTER TABLE public.booking OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.booking_id_seq OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.booking_id_seq OWNED BY public.booking.id;


--
-- Name: config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.config (
    config_key character varying(100) NOT NULL,
    config_value character varying(255)
);


ALTER TABLE public.config OWNER TO postgres;

--
-- Name: guest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guest (
    id integer NOT NULL,
    first_name character varying(100),
    second_name character varying(100),
    last_name character varying(255),
    id_card character varying(50),
    phone_number character varying(25),
    email character varying(255)
);


ALTER TABLE public.guest OWNER TO postgres;

--
-- Name: guest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guest_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guest_id_seq OWNER TO postgres;

--
-- Name: guest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guest_id_seq OWNED BY public.guest.id;


--
-- Name: late_check_out; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.late_check_out (
    id integer NOT NULL,
    booking_id integer,
    extra_hours integer,
    charge numeric(10,2)
);


ALTER TABLE public.late_check_out OWNER TO postgres;

--
-- Name: late_check_out_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.late_check_out_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.late_check_out_id_seq OWNER TO postgres;

--
-- Name: late_check_out_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.late_check_out_id_seq OWNED BY public.late_check_out.id;


--
-- Name: room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room (
    id integer NOT NULL,
    room_type_id integer,
    room_number character varying(10),
    occupied boolean
);


ALTER TABLE public.room OWNER TO postgres;

--
-- Name: room_guest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_guest (
    booking_id integer NOT NULL,
    guest_id integer NOT NULL
);


ALTER TABLE public.room_guest OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_id_seq OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_id_seq OWNED BY public.room.id;


--
-- Name: room_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_type (
    id integer NOT NULL,
    type_name character varying(255),
    price numeric(10,2),
    capacity integer
);


ALTER TABLE public.room_type OWNER TO postgres;

--
-- Name: room_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_type_id_seq OWNER TO postgres;

--
-- Name: room_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_type_id_seq OWNED BY public.room_type.id;


--
-- Name: service_contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service_contact (
    id integer NOT NULL,
    first_name character varying(100),
    second_name character varying(100),
    last_name character varying(255),
    job_role character varying(50),
    id_card character varying(50),
    phone_number character varying(25),
    email character varying(255),
    available boolean
);


ALTER TABLE public.service_contact OWNER TO postgres;

--
-- Name: service_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.service_contact_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.service_contact_id_seq OWNER TO postgres;

--
-- Name: service_contact_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.service_contact_id_seq OWNED BY public.service_contact.id;


--
-- Name: booking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking ALTER COLUMN id SET DEFAULT nextval('public.booking_id_seq'::regclass);


--
-- Name: guest id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest ALTER COLUMN id SET DEFAULT nextval('public.guest_id_seq'::regclass);


--
-- Name: late_check_out id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.late_check_out ALTER COLUMN id SET DEFAULT nextval('public.late_check_out_id_seq'::regclass);


--
-- Name: room id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room ALTER COLUMN id SET DEFAULT nextval('public.room_id_seq'::regclass);


--
-- Name: room_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type ALTER COLUMN id SET DEFAULT nextval('public.room_type_id_seq'::regclass);


--
-- Name: service_contact id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_contact ALTER COLUMN id SET DEFAULT nextval('public.service_contact_id_seq'::regclass);


--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.booking VALUES (1, 1, '2026-03-25', '2026-03-28', 'finished', '2026-03-25 14:30:00-04', '2026-03-28 11:00:00-04', 360.00, '2026-06-19 23:27:50.480796');
INSERT INTO public.booking VALUES (2, 2, '2026-03-10', '2026-03-15', 'finished', '2026-03-10 15:00:00-04', '2026-03-15 10:30:00-04', 600.00, '2026-06-19 23:27:50.480796');
INSERT INTO public.booking VALUES (5, 6, '2026-03-30', '2026-04-05', 'active', '2026-03-30 14:00:00-04', '1900-01-01 00:00:00-04:32:36', 960.00, '2026-06-19 23:27:50.480796');


--
-- Data for Name: config; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.config VALUES ('LateCheckOutHourlyRate', '50.0');
INSERT INTO public.config VALUES ('checkout_limit_hour', '12');
INSERT INTO public.config VALUES ('max_extra_hours', '6');


--
-- Data for Name: guest; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.guest VALUES (1, 'Israel', '', 'Gutierrez', '53263563', '76342345', 'israel.gutierrez.s@gmail.com');
INSERT INTO public.guest VALUES (2, 'Diego', 'Andres', 'Heredia', '9743598', '78118844', 'diego.a.heredia.t@gmail.com');
INSERT INTO public.guest VALUES (3, 'Carlos', 'Andres', 'Mamani', '1234567', '78901234', 'carlos.mamani@gmail.com');


--
-- Data for Name: late_check_out; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.late_check_out VALUES (1, 1, 2, 120.00);
INSERT INTO public.late_check_out VALUES (2, 3, 3, 180.00);
INSERT INTO public.late_check_out VALUES (3, 4, 1, 60.00);


--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.room VALUES (4, 1, '104', false);
INSERT INTO public.room VALUES (6, 3, '202', false);
INSERT INTO public.room VALUES (7, 4, '203', false);


--
-- Data for Name: room_guest; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.room_guest VALUES (1, 3);
INSERT INTO public.room_guest VALUES (2, 4);
INSERT INTO public.room_guest VALUES (3, 5);


--
-- Data for Name: room_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.room_type VALUES (1, 'Simple', 120.00, 1);
INSERT INTO public.room_type VALUES (2, 'Suite', 170.00, 1);
INSERT INTO public.room_type VALUES (3, 'Individual Bed Double', 200.00, 2);


--
-- Data for Name: service_contact; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.service_contact VALUES (1, 'Ana', 'Maria', 'Lopez', 'Housekeeping', '9876543', '71234567', 'ana.lopez@hotel.com', true);
INSERT INTO public.service_contact VALUES (2, 'Pedro', 'Jose', 'Vargas', 'Maintenance', '8765432', '72345678', 'pedro.vargas@hotel.com', true);
INSERT INTO public.service_contact VALUES (3, 'Lucia', 'Carmen', 'Rojas', 'Room Service', '7654321', '73456789', 'lucia.rojas@hotel.com', false);


--
-- Name: booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booking_id_seq', 19, true);


--
-- Name: guest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guest_id_seq', 14, true);


--
-- Name: late_check_out_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.late_check_out_id_seq', 12, true);


--
-- Name: room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_id_seq', 14, true);


--
-- Name: room_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_type_id_seq', 6, true);


--
-- Name: service_contact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.service_contact_id_seq', 4, true);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (id);


--
-- Name: config config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config
    ADD CONSTRAINT config_pkey PRIMARY KEY (config_key);


--
-- Name: guest guest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest
    ADD CONSTRAINT guest_pkey PRIMARY KEY (id);


--
-- Name: late_check_out late_check_out_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.late_check_out
    ADD CONSTRAINT late_check_out_pkey PRIMARY KEY (id);


--
-- Name: room_guest room_guest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_guest
    ADD CONSTRAINT room_guest_pkey PRIMARY KEY (booking_id, guest_id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (id);


--
-- Name: room_type room_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type
    ADD CONSTRAINT room_type_pkey PRIMARY KEY (id);


--
-- Name: service_contact service_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_contact
    ADD CONSTRAINT service_contact_pkey PRIMARY KEY (id);


--
-- Name: booking booking_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.room(id);


--
-- Name: late_check_out late_check_out_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.late_check_out
    ADD CONSTRAINT late_check_out_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.booking(id);


--
-- Name: room_guest room_guest_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_guest
    ADD CONSTRAINT room_guest_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.booking(id);


--
-- Name: room_guest room_guest_guest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_guest
    ADD CONSTRAINT room_guest_guest_id_fkey FOREIGN KEY (guest_id) REFERENCES public.guest(id);


--
-- Name: room room_room_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_room_type_id_fkey FOREIGN KEY (room_type_id) REFERENCES public.room_type(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;

